/*
media queries:
    Mobile <500px
    Tablet 500-1000px
    Desktop >1000px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding:2rem 3rem;
}

header {
    /* display: grid;
    grid-template-columns:2fr 3fr; */
    display: flex;
    align-items: center;
   
    border: 1px solid gray;
    padding: 0 1rem;
}


.title-card{
    position: relative;
    margin: 0 auto;
    
    width: 30rem;
    border: 1px solid blue;
    
}
.title-image {
    width: inherit;
    margin: auto 0;
    border: red solid .5px;
   

}

.name {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: inherit;
    border: gray 1px solid
    
    
}

.about-me {
    border: green .5px solid;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.4rem;
}

.about-me-header{
    padding-bottom: 1rem;
}

.my-work {
    margin: 3rem 0;
}

.my-work h2{
    margin:1rem 0;
}

.card-container{
    border: gray .5px solid;
    
    display: grid;
    gap: 1.4rem 2rem;
    
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}

.card{
    background-color: gray;
    padding: .6rem;
    text-align: center;
    border: .5px white solid;
}