/*
media queries:
    Mobile <500px
    Tablet 500-1000px
    Desktop >1000px
*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    
    font-family: Arial, Helvetica, sans-serif; 
   
}

body{
   
    background-color: white;
   
    
    background: linear-gradient(170deg, rgb(99, 147, 183) 26.8% , rgb(205, 205, 205) 27%, white 27.2%);


   
   
}



main{
   margin: 0 auto;
 max-width: 1200px;
    
}


header, .footer-container {
    
   max-width: 1200px;
margin: 0 auto;
    display: grid;
   
  
    padding: 0 1rem;
}

header {
    display: grid;
 grid-template-columns: 5fr 6fr;
 align-items: center;
 
 
 
}


@media (max-width: 1200px){
    main, .footer-container{
        max-width: 900px;
    }
}

@media (max-width: 500px){

    body{
        padding: 0 1.2rem;
         background: linear-gradient(170deg, rgb(99, 147, 183) 10% , rgb(205, 205, 205) 10.1%, white 10.3%);
    }
    main, .footer-container{
        max-width: 500px;
        margin: auto;
    }

    header{
        display: block;
        margin: auto;
    }
}

h1, h2, h3, h4, h5{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 1.8rem;
    
    color: #2b2b2b;
    
}



.title-card{
    /* border: blue solid 2px; */
  
    position: relative; 
    z-index: 2;
   
}

.title-image{
    height: 550px;
    min-width: 400px;
    width: 100%;
    /* float: left; */
    object-fit: cover; 
    
    box-shadow: 2px 3px 6px rgb(205, 205, 205)
}


.my-name{
    position: relative;
    top: 550px;
    
    background-color: rgba(87, 87, 87, 0.4); 
    color: white;
    text-shadow: 1px 1px 2px rgb(4, 41, 79);
  
    text-align: center;
   
    padding: .4rem;
}

@media (max-width: 1200px) {
    .title-image{
        height: 450px;
        min-width: 400px;
        position: relative;
        left: 100px;
      
        z-index: 1;
        
        
    }

    .my-name{
    position: absolute;
    background: none;
    top: 5px;
    left: 430px;
    /* border: red 1px solid; */
   min-width: 400px;
   color:#2b2b2b;
   z-index: 2;

  /* background-color: rgb(99, 147, 183, 0.2); */

    

    text-shadow: 1px 1px 2px rgb(0, 10, 21); 
  
    
   
    padding: .4rem;
    }

    header{
        padding-bottom: 4rem;
    }
}


@media (max-width:500px) {
    .title-image{
        height: 400px;
        min-width: 300px;
        position: static;
        left: 100px;
        margin-bottom: 2rem;
      
        z-index: 1;
        /* box-shadow: none; */
        
    }

    .my-name{
    position: static;
    background: none;
    top: auto;
    left: auto;
    /* left: 430px; */
    /* border: red 1px solid; */
   min-width: 8rem;;
   color:#ffffff;
   
   padding: 0;
   margin: 0;
   z-index: 2;
   font-size: 3rem;

  /* background-color: rgb(99, 147, 183, 0.2); */

    

    text-shadow: 1px 1px 2px rgb(0, 10, 21); 
  
    
   
    padding: .4rem;
    }

    header{
        padding-bottom: 4rem;
    }
}

.about-me{
    margin: 0 auto;
    background-color: white;
    min-height: 450px;
   
    /* border: red solid 1px; */
    padding: 4rem 5rem;
    position: relative;
    left: -3;
    top: 30px;
    line-height: 1.4;
    box-shadow: 2px 3px 6px rgb(205, 205, 205);
    z-index: 1;
}

.about-me h2{
    margin-top: 30px;
}

@media (max-width: 1200px){
.about-me{
    margin: 0 auto;
    background-color: white;
    
   min-width: 640px;
   float: left;
    
    /* border: red solid 1px; */
    padding: 2rem;
    position: relative;
    left: -250;
    top: 120px;
   
    box-shadow: 2px 3px 6px rgb(205, 205, 205);
    z-index: 1;
}



}

@media (max-width:500px){
.about-me{
    margin: 0 auto 2rem auto;
    background-color: white;
    
   min-width: 3rem;
   
    
   
    padding: 0 .2rem;
    position: static;
   
   
    box-shadow: none;
    z-index: 1;
}
.about-me-header{
    position: static;
    text-align: center;
    margin: .2rem auto;
    
}
.about-me h2{
    margin-top: 0;
}


}



.about-me-header{
    margin-bottom: 1.6rem;
    
}

.about-me-text{
    font-size: 1.4rem;
    color: #2b2b2b;
}

@media(max-width: 1200px){
    .shape{
     float: left;
  shape-outside: inset(0);
 
  /* background-color: rgba(0, 0, 255, 0.2); */
  min-height: 320px;
        min-width: 340px;
        /* position: relative;
        right: 100px;
        bottom: 178px; */
    }

.about-me-text{
    font-size: 1.35rem;
    line-height: 1.4;
}

}

@media(max-width: 500px){
    .shape{
  
    display: none;
  

    }

.about-me-text{
    font-size: 1.35rem;
    line-height: 1.4;
}

}

.icons{
    display: flex;
    justify-content: flex-end;
    
}

.icon{
    width: 2.5rem !important;
    margin: 5rem 1rem 0 1rem;
    box-shadow: none !important;
}

@media (max-width: 1200px){
    .icons{
        display: none;
    }

  
}




/* .title-card {
  position: relative;
  background: white;
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
}

.title-image {
  position: absolute;     
  top: -40px;           
  left: -40px;            
  width: 150px;          
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  z-index: 2;            
}

.title-content {
  margin-left: 120px;     
}*/
.my-work {
    margin: 8rem 0;
}

.my-work h2{
    margin: 1rem 0 2rem;
    max-width: 1200
}

.card-container{
   
    
    display: grid;
    gap: 1.4rem 2rem;
    
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.card{
   
    /* padding: .6rem; */
    text-align: center;
    max-width: 600px;
    background-color: rgb(208, 213, 213);
    border-radius: 3px;
   
    box-shadow: 2px 3px 6px rgb(205, 205, 205);
} 

.card-top{
    
    min-height: 250px;
   padding: 2rem 0;
   
   
 
    
    
}

.card-body{
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: center;
   
    padding-top: 1rem;
  
    background-color: white;
    
    
}

.card-body> .icons{
    display: flex;
    justify-items: flex-end;;
    
}

.card-body > .icons > .icon{

    margin: 0 1rem 0 0;
    height: 2.3rem;
    color: #2b2b2b;
    
}

.card p{
    background-color: rgb(255, 255, 255);
    min-height: 100px;
    padding: .5rem .5rem 1rem 1rem;
    font-size:1.2rem;
    display: flex;
    align-items: center;
}



.project-image{
    object-fit: contain;
    display: block;
     max-height: 225px;
     max-width: 595px;

     margin: 0 auto auto;
     
}

.project-name{
    text-align: left;
    padding-left: 1rem;
    
}

.project-description{
    padding: .0 0 2rem 1rem;
    text-align: left;
    color: #2b2b2b;
    line-height: 1.3;
}

@media(max-width: 500px){
.my-work {
    margin: 0 auto;
}

.my-work h2{
    margin: 2rem auto 0 auto;
    padding-top: 3rem;
    max-width: 20rem;
    font-size: 2.5rem;

}

.card-container{
   
    display: block;
    margin: 0 auto;
    
    /* grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); */
}

.card{
   margin: 1rem auto;
    /* padding: .6rem; */
   
    max-width: 25rem;
    
} 

.card-top{
    
    min-height: 5rem;
   padding: 1rem 0;
   
   
 
    
    
}

.card-body{
    
   
    padding-top: .2rem;
  
   
    
    
}

.card-body> .icons{
    display: flex;
    justify-items: flex-end;;
    
}

.card-body > .icons > .icon{

    margin: 0 1rem 0 0;
    height: 2.3rem;
    color: #2b2b2b;
    
}





.project-image{
    object-fit: cover;
    display: block;
     max-height: 225px;
     max-width: 595px;
    
     margin: 0 auto;
     
}

.project-name{
    text-align: left;
    padding-left: 1rem;
    
}

.project-description{
    padding: .0 0 2rem 1rem;
    text-align: left;
    color: #2b2b2b;
    line-height: 1.3;
}

}

footer{
    
    background-color: #6393b7;
    padding: 3rem;
}

.footer-container {
 display: block;
    margin: 0 auto;
  
}

.footer-container img {
    max-width: 20rem;
    object-fit: contain;
    padding-top: 1rem;
       
}

a{
    color: white;
    text-decoration: none;
}
.contact-details-container{
    line-height: 1.5;
    color: white;
    font-size: 1.3rem;
    position: relative;
}

.contact-details-container .icons{
    justify-content: center;
}

.footer-text{
    line-height: 1.4;
    margin: 1rem 0;
}

address{
    margin-bottom: 1rem
}

.material-symbols-outlined{
   position: relative;
   top: .3rem;
   margin-right: .3rem
}

.phone{
    margin-bottom: 1rem;
}

@media(max-width: 500px){
   footer{
    margin: 0;
    padding: 0;
   }
    .footer-container img {
    max-width: 100%;
    object-fit: contain;
    padding-top: 1rem;
    
       

}

}