/*
media queries:
    Mobile <500px
    Tablet 500-1000px
    Desktop >1000px
*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    
    font-family: Arial, Helvetica, sans-serif; 
   
}

body{
   
    background-color: white;
   
    
    background: linear-gradient(170deg, rgb(43, 138, 162) 30% , rgb(205, 205, 205) 30.4%, white 31%);


   
   
}



main{
   margin: 0 auto;
 max-width: 1200px;
    
}


header, .footer-container {
    
   max-width: 1200px;
margin: 0 auto;
    display: grid;
   
  
    padding: 0 1rem;
}

header {
    display: grid;
 grid-template-columns: 5fr 6fr;
 align-items: center;
 
 
 
}



h1, h2, h3, h4, h5{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 2,5rem;
}




.title-card{
    /* border: blue solid 2px; */
  
    position: relative; 
    z-index: 2;
   
}

.title-image{
    height: 550px;
    min-width: 400px;
    width: 100%;
    /* float: left; */
    object-fit: cover; 
    
    box-shadow: 2px 3px 6px rgb(205, 205, 205)
}

.my-name{
    position: relative;
    top: 550px;
    font-size: 3rem;
    background-color: rgba(87, 87, 87, 0.4); 
    color: white;
    text-shadow: 1px 1px 2px dimgray;
  
    text-align: center;
   
    padding: .4rem;
}

.about-me{
    margin: 0 auto;
    background-color: white;
    min-height: 450px;
    /* border: red solid 1px; */
    padding: 2rem 4rem;
    position: relative;
    left: -3;
    top: 30px;
    line-height: 1.4;
    box-shadow: 2px 3px 6px rgb(205, 205, 205);
    z-index: 1;
}

.about-me-header{
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
}

.about-me-text{
    font-size: 1.3rem;
}

.icons{
    display: flex;
    justify-content: flex-end;
}

.icon{
    width: 2.5rem !important;
    margin: 2rem 2rem 0 0;
    box-shadow: none !important;
}



/* .title-card {
  position: relative;
  background: white;
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 6px;
}

.title-image {
  position: absolute;     
  top: -40px;           
  left: -40px;            
  width: 150px;          
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  z-index: 2;            
}

.title-content {
  margin-left: 120px;     
}*/
.my-work {
    margin: 3rem 0;
}

.my-work h2{
    margin: 1rem 0;
}

.card-container{
    border: gray .5px solid;
    
    display: grid;
    gap: 1.4rem 2rem;
    
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.card{
    background-color: gray;
    padding: .6rem;
    text-align: center;
    border: .5px white solid;
} 

footer{
    
    background-color: rgb(43, 138, 162);
    padding: 3rem;
}

.footer-container {
    grid-template-columns:4fr 6fr;
    width: 100%;
    gap: 1.6rem;
    
    margin: 0 auto;
  
}

.footer-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 4px 5px rgb(148, 148, 148)    
}

a{
    color: white;
    text-decoration: none;
}
.contact-details-container{
    line-height: 1.5;
    color: white;
    font-size: 1.3rem;
    position: relative;
}

.contact-details-container .icons{
    justify-content: center;
}

.footer-text{
    line-height: 1.4;
    margin: 1rem 0;
}

address{
    margin-bottom: 1rem
}

.material-symbols-outlined{
   position: relative;
   top: .3rem;
   margin-right: .3rem
}

.phone{
    margin-bottom: 1rem;
}